@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@500&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; /*The width and height properties (and min/max properties) includes content, padding and border*/
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  background: #9763d3;
}
nav {
  background: #63d4e3;
  height: 80px;
  width: 100%;
  border-bottom: 2px solid #77b7ff;
}
label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav ul li {
  display: inline-block; /*display: inline-block is to display list items horizontally instead of vertically. */
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 7px 7px;
  text-transform: capitalize;
}
a.active,
a:hover {
  background: none;
  color: #8257b2;
  transition: 0.5s ease;
}
.index-intro {
  width: 100%;
  text-align: center;
}
.welcome {
  font-weight: bold;
  top: 78px;
  padding: 14px;
  width: 100%;
  background: #3bbead;
  margin: 0;
  z-index: -1;
  color: #8257b2;
  border-bottom: 2px solid #77b7ff;
}

nav #icon {
  color: white;
  font-size: 20px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1048px) {
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 909px) {
  nav #icon {
    display: block;
  }
  nav ul.show {
    right: 0;
    width: 35%;
    z-index: 2;
  }
  nav ul {
    width: 0;
    height: 100vh;
    position: fixed;
    background: #8257b2;
    top: 80px;
    right: 0;
    margin-right: 0;
    text-align: center;
    transition: all 0.5s linear;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }
  a:hover,
  a[class="active"] {
    background: none;
    color: #54afbb;
  }
}
#map {
  position: absolute;
  top: 127px;
  width: 100%;
  height: 87.5vh;
  z-index: -1;
  margin: 0px;
}

/* Admin upload */
input[type="file"] {
  display: none;
}
.upload-button {
  border: none;
  color: white;
  height: 50px;
  width: 200px;
  background-color: #54afbb;
  position: absolute;
  margin: auto;
  cursor: pointer;
  top: -100px;
  left: 0px;
  bottom: 0;
  right: 0;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.upload-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 17px 50px 0 rgba(0, 0, 0, 0.3);
}

.delete-button {
  border: none;
  color: white;
  height: 50px;
  width: 160px;
  background-color: #54afbb;
  position: absolute;
  margin: auto;
  cursor: pointer;
  top: 300px;
  left: -50px;
  bottom: 0;
  right: 0;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.delete-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 17px 50px 0 rgba(0, 0, 0, 0.3);
}
#upload {
  border: none;
  color: white;
  height: 50px;
  width: 130px;
  background-color: #54afbb;
  position: absolute;
  margin: auto;
  cursor: pointer;
  top: 50px;
  left: -70px;
  bottom: 0;
  right: 0;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#upload:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.3), 0 17px 50px 0 rgba(0, 0, 0, 0.3);
}

/* Profile Management */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 100px;
}
.container .form {
  height: 100%;
  width: 100%;
  background: #fff;
}
form {
  border: none;
}
.container .form-content {
  display: flex;
  align-self: center;
  justify-content: center;
  /* flex-direction: column; */
}
form .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
form .form-content .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 60px;
  background: #e75e4b;
}
form .signup-form .form-content .title:before {
  width: 20px;
}
form .form-content .input-boxes {
  margin-top: 30px;
}
form .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
/* .form-content .input-box input:focus,
.form-content .input-box input:valid {  */
/*required input - > valid  */
/* border-color: #c36fae;
}  */
.form-content .input-box i {
  position: absolute;
  color: #7e52a0;
  font-size: 16px;
}
form .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
form .form-content button {
  color: #fff;
  background: #e75e4b;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  margin-top: 30px;
  width: 250px;
  height: 50px;
  border: none;
  font-size: 1.2rem;
}
form .form-content button:hover {
  background: #eb796a;
}
#errors {
  margin: 20px 0;
  height: 20px;
  color: red;
  font-size: 14px;
  width: 300px;
}
#text {
  margin: 30px 0 30px 0;
  height: 20px;
  color: rgb(59, 59, 59);
  font-size: 14px;
  width: 300px;
}
